{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["inline-dotenv"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["transform-inline-environment-variables"]
    },
    "test": {
      "presets": ["env", "react"]
    }
  },
  "plugins": [
    [ "module-resolver",  {
      "alias": {
        "components": "./components",
        "config": "./config",
        "container": "./container",
        "mixins": "./mixins",
        "pages": "./pages",
        "services": "./services",
        "theme": "./theme",
        "utils": "./utils"
      }
    }]
  ]
}
