{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-prettier"
  ],
  "syntax": "scss",
  "rules": {
    "selector-type-no-unknown": null,
  }
}
